<form [formGroup]="profileForm" (ngSubmit)="submitForm()">
  Value: {{ profileForm.value | json }} Loading: {{ loading }}
  <hr />
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="name.invalid && name.touched">
          Name is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Bio</mat-label>
        <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
        <mat-error *ngIf="bio.invalid && bio.touched">
          Bio is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- This will contain all the writers that are assigned to a book. -->
  <div formArrayName="favoriteBooks">
    <h3>Favorite Books</h3>
    <div
      *ngFor="let book of favoriteBooks.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="fill" class="col-lg-4 col-sm-8">
        <mat-label>Book</mat-label>
        <input matInput disabled [value]="book.value.title" />
      </mat-form-field>
      <button
        *ngIf="!readOnly"
        mat-raised-button
        color="warn"
        (click)="deleteBook(i)"
        class="row col-lg-2 col-sm-4"
      >
        Delete
      </button>
    </div>
  </div>

  <div class="row" *ngIf="!readOnly">
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="accent"
        type="button"
        (click)="openModal(bookModal)"
      >
        Add Book to Favorites
      </button>
    </div>
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="profileForm.invalid || loading"
      >
        Save Profile
      </button>
    </div>
  </div>
  <!-- Modal html -->
  <ng-template #bookModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Book</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-book-list
        (clickedBook)="modal.dismiss('Clicked person'); addBook($event)"
      ></app-book-list>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</form>
