<div>
  <mat-form-field class="w-100">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Salinger"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let writer">{{ writer.name }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let writer">
        {{ writer.dateOfBirth.toLocaleDateString() }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="writer-row"
      *matRowDef="let row; columns: displayedColumns"
      (click)="clickWriter(row)"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No writers matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
</div>
