<div class="row">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="accountForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                placeholder="example@email.com"
                formControlName="email"
                type="email"
                id="email-field"
              />
              <mat-error *ngIf="email.invalid && email.touched">
                E-mail is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
                id="password-field"
              />
              <mat-error *ngIf="password.invalid && password.touched">
                Password needs to be a minimum of 6 characters.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              class="w-100"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="accountForm.invalid || loading"
              id="login-button"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
