<div>
  <mat-form-field class="w-100">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Salinger"
      #input
      id="filter-field"
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ISBN</th>
      <td mat-cell *matCellDef="let book">{{ book.ISBN }}</td>
    </ng-container>

    <ng-container matColumnDef="writer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Writer</th>
      <td mat-cell *matCellDef="let book">{{ book.writer.name }}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Release Date</th>
      <td mat-cell *matCellDef="let book">
        {{ book.releaseDate.toLocaleDateString() }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="book-row"
      *matRowDef="let row; columns: displayedColumns"
      (click)="clickBook(row)"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
