<div class="row" *ngIf="writer">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Delete Writer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-writer-form [writer]="writer" [readOnly]="true"></app-writer-form>
      <div class="row">
        <button mat-raised-button (click)="cancelDelete()" class="col m-1">
          Cancel
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteWriter()"
          class="col m-1"
        >
          Delete Writer
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
