<form [formGroup]="writerForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          id="name-field"
        />
        <mat-error *ngIf="name.invalid && name.touched">
          Name is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
          id="dateOfBirth-field"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
          Date of Birth is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          id="description-field"
        ></textarea>
        <mat-error *ngIf="description.invalid && description.touched">
          Description is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="!readOnly">
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        type="submit"
        id="save-button"
        [disabled]="writerForm.invalid || loading"
      >
        Save Writer
      </button>
    </div>
  </div>
</form>
