<div class="row">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Create Writer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-writer-form></app-writer-form>
    </mat-card-content>
  </mat-card>
</div>
