<div class="row">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title
        ><h1 id="aboutTitle">Over deze applicatie</h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-8">
          <p>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web
            frameworks' van Avans Hogeschool Breda.
          </p>
          <h3>{{ title }}</h3>
          <p>
            {{ title }} is een database website voor een bibliotheek, hierbij is
            de grootste functie dat makkelijk schrijvers, boeken en boek
            exemplaren erin kan stoppen. Daarnaast kunnen gebruikers aangeven
            dat ze een boek exemplaar willen lenen. Voor de interacties tussen
            de gebruikers is er de mogelijkeheid om elkaar te volgen en te zien
            welke boeken hun favoriet is.
          </p>
        </div>
        <div class="col">
          <div class="card">
            <div class="d-flex justify-content-center align-items-center">
              <img
                alt=""
                class="card-img-top rounded-circle border profile-pic"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Marcello Haddeman</h5>
              <p class="card-text">Studentnummer: 2152991</p>
            </div>
          </div>
        </div>
      </div>
      <h3>Entiteiten</h3>
      <div id="entiteiten" class="row">
        <div class="col-sm-12 col-md">
          <h4>Book</h4>
          <ul>
            <li>Title::String</li>
            <li>ISBN::String</li>
            <li>Description::String</li>
            <li>ReleaseDate::Date</li>
            <li>Writer::Writer</li>
            <li>Publisher::String</li>
            <li>Language::String</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md">
          <h4>BookCopy</h4>
          <ul>
            <li>CopyOf::Book</li>
            <li>CanBeLoaned::Bool</li>
            <li>IsCurrentlyLoaned::Bool</li>
            <li>LoanedTo::Profile</li>
            <li>DateOfEntry::Date</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md">
          <h4>Writer</h4>
          <ul>
            <li>Name::String</li>
            <li>Description::String</li>
            <li>DateOfBirth::String</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md">
          <h4>Profile</h4>
          <ul>
            <li>accountId::String</li>
            <li>Name::String</li>
            <li>Bio::String</li>
            <li>FavoriteBooks::Book[]</li>
            <li>Follows::Profile[]</li>
            <li>Followed::Profile[]</li>
          </ul>
        </div>
      </div>
      <div class="row col">
        <p>
          Dit zijn de 4 entiteiten die op de website zullen gebruikt werken.
          Alle entiteiten behalve de Profile maken gebruik van een
          achterliggende MongoDB database. Sinds Profile de mogelijkheid heeft
          om andere profielen te volgen en zelf gevolgd te worden leek het mij
          logisch dat deze in een Neo4J database wordt opgeslagen. In
          tegenstelling tot MongoDB is Neo4J gebouwd voor het ondersteunen van
          relaties tussen objecten. Profile is ook doormiddel van een accountId
          verbonden met het inlog systeem wat is opgelagen in MongoDB. Hierdoor
          scheid ik dus de inloggegevens en de profielen van elkaar zodat ze
          gevoelige inlog gevens nooit in contact komen met de profile gegevens.
        </p>
        <p>
          Om een beetje in beeld te leggen hoe de verschillende entiteiten met
          elkaar verbonden zijn heb ik hieronder een ERD staan. Alle relaties
          tussen de mongo objecten zijn door middel van referenties. Dit gedaan
          om het makkelijker te maken om te zoeken op aparte objecten. Iets wat
          veel moeilijker zou zijn als alles embedded was.
        </p>
      </div>
      <div class="row">
        <h4>ERD</h4>
        <img
          src="../../assets/images/diagram_v2.png"
          alt="diagram_v1"
          class="w-100"
        />
      </div>
      <app-usecase></app-usecase>
    </mat-card-content>
  </mat-card>
</div>
