<div class="row">
  <mat-card class="col m-1" *ngIf="writer">
    <mat-card-header>
      <mat-card-title>Edit Writer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-writer-form [writer]="writer"></app-writer-form>
    </mat-card-content>
  </mat-card>
</div>
