<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">{{ title }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/book">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bookcopy">Book Copies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/writer">Writers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- Logged out elements -->
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="/auth/register">Register</a>
      </li>
      <!-- Logged in elements -->
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/profile/details/{{ loggedInId }}"
          >My Profile</a
        >
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" routerLink="/auth/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
