<div>
  <mat-form-field class="w-100">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Salinger"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <ng-container matColumnDef="copyOf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Title</th>
      <td mat-cell *matCellDef="let bookCopy">{{ bookCopy.copyOf.title }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfEntry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Entry</th>
      <td mat-cell *matCellDef="let bookCopy">
        {{ bookCopy.dateOfEntry.toLocaleDateString() }}
      </td>
    </ng-container>

    <ng-container matColumnDef="canBeLoaned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Loanable</th>
      <td mat-cell *matCellDef="let bookCopy">
        {{ bookCopy.canBeLoaned && !bookCopy.isCurrentlyLoaned }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="bookCopy-row"
      *matRowDef="let row; columns: displayedColumns"
      (click)="clickBookCopy(row)"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No writers matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
</div>
