<div class="row">
  <mat-card class="col m-1" *ngIf="bookCopy">
    <mat-card-header>
      <mat-card-title>Edit Book Copy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-copy-form [bookCopy]="bookCopy"></app-book-copy-form>
    </mat-card-content>
  </mat-card>
</div>
