<div class="row" *ngIf="writer">
  <mat-card class="col m-1" id="writer-details">
    <mat-card-header>
      <mat-card-title
        ><h1 id="writer-title">{{ writer.name }}</h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>Date of birth: {{ writer.dateOfBirth.toLocaleDateString() }}</p>
      <h2>Description</h2>
      <p>{{ writer.description }}</p>
      <h2>Written Books</h2>
      <app-book-list
        *ngIf="booksByWriter"
        [books]="booksByWriter"
      ></app-book-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-2 m-1" id="writer-options">
    <mat-card-header>
      <mat-card-title>Options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        routerLink="/writer/edit/{{ writer._id }}"
        class="w-100 m-1"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        routerLink="/writer/delete/{{ writer._id }}"
        class="w-100 m-1"
      >
        Delete
      </button>
    </mat-card-content>
  </mat-card>
</div>
