<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill" class="row col-lg-6 col-sm-12">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title" />
    <mat-error *ngIf="title.invalid && title.touched">
      Title is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="row col-lg-6 col-sm-12">
    <mat-label>ISBN</mat-label>
    <input matInput placeholder="ISBN" formControlName="ISBN" />
    <mat-error *ngIf="ISBN.invalid && ISBN.touched">
      ISBN should be a minumum of 10 characters and a max of 13.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="row col-lg-6 col-sm-12">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="Description"
      formControlName="description"
    ></textarea>
    <mat-error *ngIf="description.invalid && description.touched">
      Description is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="row col-lg-6 col-sm-12">
    <mat-label>Release Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="releaseDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="releaseDate.invalid && releaseDate.touched">
      Release Date is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="row col-lg-6 col-sm-12">
    <mat-label>Publisher</mat-label>
    <input matInput placeholder="Publisher" formControlName="publisher" />
    <mat-error *ngIf="publisher.invalid && publisher.touched">
      Publisher is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="row col-lg-6 col-sm-12">
    <mat-label>Language</mat-label>
    <input matInput placeholder="Language" formControlName="language" />
    <mat-error *ngIf="language.invalid && language.touched">
      Publisher is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    class="row col-lg-6 col-sm-12"
    *ngIf="writer.value?.name"
  >
    <mat-label>Writer</mat-label>
    <input matInput disabled [value]="writer.value.name" />
    <mat-error *ngIf="writer.invalid && writer.touched">
      Writer is required.
    </mat-error>
  </mat-form-field>

  <!-- This will contain all the writers that are assigned to a book. -->
  <!-- <div formArrayName="writers">
    <div
      *ngFor="let writer of writer.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field appearance="fill" class="col-lg-4 col-sm-8">
        <mat-label>Writer</mat-label>
        <input matInput disabled [value]="writer.value.name" />
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteWriter(i)"
        class="row col-lg-2 col-sm-4"
      >
        Delete
      </button>
    </div>
  </div> -->

  <div class="row" *ngIf="!readOnly">
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="accent"
        (click)="openModal(writerModal)"
        type="button"
      >
        Set Writer
      </button>
    </div>
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="bookForm.invalid || loading"
      >
        Save
      </button>
    </div>
  </div>
  <p></p>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <!-- Modal html -->
  <ng-template #writerModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Writer</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-writer-list
        (clickedWriter)="modal.dismiss('Clicked person'); setWriter($event)"
      ></app-writer-list>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</form>
