<div class="row" *ngIf="bookCopy">
  <mat-card class="col m-1" id="writer-details">
    <mat-card-header>
      <mat-card-title
        ><h1>
          <a routerLink="/book/details/{{ bookCopy.copyOf._id }}">{{
            bookCopy.copyOf.title
          }}</a>
        </h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isLoanable && loggedIn">
        <!-- Check status of loaning -->
        <button
          mat-raised-button
          type="button"
          *ngIf="isLoaned && !isLoanedToUser"
          disabled
        >
          Is currently being Loaned
        </button>
        <button
          mat-raised-button
          type="button"
          *ngIf="!isLoaned || isLoanedToUser"
          (click)="toggleLoan()"
        >
          <span *ngIf="!isLoaned">Loan</span>
          <span *ngIf="isLoanedToUser">Turn back in (Unloan)</span>
        </button>
      </div>
      <h2>ID: {{ bookCopy._id }}</h2>
      <p>Date of entry: {{ bookCopy.dateOfEntry.toLocaleDateString() }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-2 m-1" id="writer-options">
    <mat-card-header>
      <mat-card-title>Options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        routerLink="/bookcopy/edit/{{ bookCopy._id }}"
        class="w-100 m-1"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        routerLink="/bookcopy/delete/{{ bookCopy._id }}"
        class="w-100 m-1"
      >
        Delete
      </button>
    </mat-card-content>
  </mat-card>
</div>
