<div class="row">
  <mat-card class="col m-1" id="books-list">
    <mat-card-header>
      <mat-card-title>Browse Books</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-list (clickedBook)="navigateToBook($event)"></app-book-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2 m-1" id="books-options">
    <mat-card-header>
      <mat-card-title>Menu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button class="w-100" routerLink="./create">
        Create Book
      </button>
    </mat-card-content>
  </mat-card>
</div>
