<div class="row">
  <mat-card class="col m-1" id="writers-list">
    <mat-card-header>
      <mat-card-title>Browse Writers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-writer-list
        (clickedWriter)="navigateToWriter($event)"
      ></app-writer-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2 m-1" id="writers-options">
    <mat-card-header>
      <mat-card-title>Menu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        class="w-100"
        routerLink="./create"
        id="create-button"
      >
        Create Writer
      </button>
    </mat-card-content>
  </mat-card>
</div>
