<div class="row" *ngIf="book">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Delete Book</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-form [book]="book" [readOnly]="true"></app-book-form>
      <div class="row">
        <button mat-raised-button (click)="cancelDelete()" class="col m-1">
          Cancel
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteBook()"
          class="col m-1"
        >
          Delete Book
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
