<div class="row" *ngIf="profile">
  <mat-card class="col m-1" id="profile-details">
    <mat-card-header>
      <mat-card-title
        ><h1>{{ profile.name }}</h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="loggedIn && !isLoggedInUser">
        <!-- Only show this button when you're logged in, and not on your own page -->
        <button mat-raised-button type="button" (click)="toggleFollow()">
          <span *ngIf="isFollowingUser">Unfollow</span
          ><span *ngIf="!isFollowingUser">Follow</span>
        </button>
      </div>
      <h2>Bio</h2>
      <p>{{ profile.bio }}</p>
      <div class="row">
        <div class="col" id="following-list">
          <h2>Following</h2>
          <app-profile-list
            *ngIf="following"
            [profiles]="following"
          ></app-profile-list>
        </div>
        <div class="col" id="followers-list">
          <h2>Followers</h2>
          <app-profile-list
            *ngIf="followers"
            [profiles]="followers"
          ></app-profile-list>
        </div>
      </div>
      <div class="row">
        <div class="col" *ngIf="isFollowingUser || isLoggedInUser">
          <h2>Favorite Books</h2>
          <app-book-list
            *ngIf="favoriteBooks"
            [books]="favoriteBooks"
          ></app-book-list>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="isLoggedInUser">
          <h2>Loaned Books</h2>
          <app-book-copy-list
            [bookCopies]="loanedBookCopies"
          ></app-book-copy-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-2 m-1" id="writer-options" *ngIf="isLoggedInUser">
    <mat-card-header>
      <mat-card-title>Options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        routerLink="/profile/edit"
        class="w-100 m-1"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        routerLink="/profile/delete"
        class="w-100 m-1"
      >
        Delete
      </button>
    </mat-card-content>
  </mat-card>
</div>
