<form [formGroup]="bookCopyForm" (ngSubmit)="submitForm()">
  Value: {{ bookCopyForm.value | json }} Loading: {{ loading }}
  <hr />
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Copy Of</mat-label>
        <input
          matInput
          placeholder="Copy Of"
          disabled
          [value]="copyOf.value?.title"
        />
        <mat-error *ngIf="copyOf.invalid && copyOf.touched">
          Copy Of is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Date of Entry</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfEntry"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateOfEntry.invalid && dateOfEntry.touched">
          Date of Entry is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-checkbox formControlName="canBeLoaned" class="w-100"
        >Can be loaned</mat-checkbox
      >
    </div>
  </div>
  <div class="row" *ngIf="!readOnly">
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="accent"
        type="button"
        (click)="openModal(bookModal)"
      >
        Set Copy Of Book
      </button>
    </div>
    <div class="col">
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="bookCopyForm.invalid || loading"
      >
        Save Book Copy
      </button>
    </div>
  </div>

  <!-- Modal html -->
  <ng-template #bookModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Set Book</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-book-list
        (clickedBook)="modal.dismiss('Clicked book'); setBook($event)"
      ></app-book-list>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</form>
