<div *ngIf="book" class="row">
  <mat-card class="col m-1" id="book-details">
    <mat-card-header
      ><mat-card-title
        ><h1 id="book-title">{{ book.title }}</h1></mat-card-title
      ></mat-card-header
    >
    <mat-card-content>
      <h2>
        By
        <a routerLink="/person/details/{{ book.writer._id }}">{{
          book.writer.name
        }}</a>
      </h2>
      <hr />
      <p *ngIf="book.releaseDate">
        Release Date: {{ book.releaseDate.toLocaleDateString() }}
      </p>
      <div *ngIf="book.description.length > 0">
        <h2>Description</h2>
        <p>{{ book.description }}</p>
      </div>
      <div class="row">
        <div class="col" *ngIf="bookCopies">
          <h2>Copies</h2>
          <app-book-copy-list [bookCopies]="bookCopies"></app-book-copy-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2 m-1" id="writer-options">
    <mat-card-header>
      <mat-card-title>Options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        routerLink="/book/edit/{{ book._id }}"
        class="w-100 m-1"
      >
        Edit
      </button>
      <button
        mat-raised-button
        color="warn"
        routerLink="/book/delete/{{ book._id }}"
        class="w-100 m-1"
      >
        Delete
      </button>
    </mat-card-content>
  </mat-card>
</div>
