<div class="row">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Create Book Copy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-copy-form></app-book-copy-form>
    </mat-card-content>
  </mat-card>
</div>
