<div class="row">
  <mat-card class="col m-1" id="profiles-list">
    <mat-card-header>
      <mat-card-title>Browse Profiles</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-profile-list
        (clickedProfile)="navigateToProfile($event)"
      ></app-profile-list>
    </mat-card-content>
  </mat-card>
</div>
