<div class="row" *ngIf="book">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Edit Book</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-form *ngIf="book" [book]="book"></app-book-form>
    </mat-card-content>
  </mat-card>
</div>
