<div class="row">
  <mat-card class="col m-1" *ngIf="profile">
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-profile-form [profile]="profile"></app-profile-form>
    </mat-card-content>
  </mat-card>
</div>
