<div class="row">
  <mat-card class="col m-1">
    <mat-card-header>
      <mat-card-title>Welcome to MyBookList</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/images/big_library.jpg" class="w-75" />
      <p>
        This is the homepage for the MyBookList application. A handy webapp to
        interact your library and use to check out all the different books we
        have. The navigation bar at the top shows all the different pages we
        have ready to use.
      </p>
    </mat-card-content>
  </mat-card>
</div>
