<div class="row">
  <mat-card class="col m-1" id="writers-list">
    <mat-card-header>
      <mat-card-title>Browse Book Copies</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-copy-list
        (clickedBookCopy)="navigateToBookCopy($event)"
      ></app-book-copy-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2 m-1" id="writers-options">
    <mat-card-header>
      <mat-card-title>Menu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button class="w-100" routerLink="./create">
        Create Book Copy
      </button>
    </mat-card-content>
  </mat-card>
</div>
