<div class="row">
  <mat-card class="col m-1" *ngIf="bookCopy">
    <mat-card-header>
      <mat-card-title>Delete Book Copy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-book-copy-form
        [bookCopy]="bookCopy"
        [readOnly]="true"
      ></app-book-copy-form>
      <div class="row">
        <button mat-raised-button (click)="cancelDelete()" class="col m-1">
          Cancel
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteBookCopy()"
          class="col m-1"
        >
          Delete Book Copy
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
