<h3 id="useCases">Use Cases</h3>
<div class="row" *ngFor="let useCase of useCases">
  <div class="col-12">
    <table class="table table-sm table-bordered">
      <tbody>
        <tr class="table-primary">
          <th scope="row" style="width: 16.66%">Naam</th>
          <td>
            <strong>{{ useCase.naam }}</strong>
          </td>
        </tr>
        <tr>
          <th scope="row">Beschrijving</th>
          <td>{{ useCase.beschrijving }}</td>
        </tr>
        <tr>
          <th scope="row">Actor</th>
          <td>{{ useCase.actor }}</td>
        </tr>
        <tr>
          <th scope="row">Preconditie</th>
          <td>{{ useCase.preConditie }}</td>
        </tr>
        <tr>
          <th scope="row">Scenario</th>
          <td>
            <ol>
              <li *ngFor="let step of useCase.scenario">{{ step }}</li>
            </ol>
          </td>
        </tr>
        <tr>
          <th scope="row">Postconditie</th>
          <td>{{ useCase.postConditie }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
